{
  "env": {
    "browser": true
  },
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": 0,
    "import/prefer-default-export": 0,
    "no-bitwise": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0
  }
}
